<div class=" container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <table class=" table table-hover" id="listSection">
        <thead>
          <th>Name</th>
          <th>DamageCost</th>
          <th>Year</th>
          <th>Type</th>        
        </thead>
        <tbody>
          <tr *ngFor="let Claim of claimsList">
            <td>{{Claim.name}}</td>
            <td>{{Claim.damageCost}}</td>
            <td>{{Claim.year}}</td>
            <td>{{Claim.type}}</td>          
            <td><button mat-mini-fab color="accent" (click)="deleteClaim(Claim.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
        <div class="card " id="main-card">
            <div class="card-body">
              <div class="row" style="margin-top:50px">
                <div class="col-md-6">
    
                  <table class=" table table-hover">                    
                    <tbody>
                      <tr>
                        <td>
                          <mat-form-field> Name
                            <input [formControl]="name" matInput type="string" > 
                            <mat-error *ngIf="name.hasError('required')">Please enter the name</mat-error>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="example-full-width"> Year
                            <input [formControl]="year" matInput type="number" > 
                            <mat-error *ngIf="year.hasError('required')">Please enter the year</mat-error>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field class="example-full-width"> Damage Cost
                            <input [formControl]="damageCost" matInput type="number" > 
                            <mat-error *ngIf="damageCost.hasError('required')">Please enter the damage cost</mat-error>
                          </mat-form-field>
                        </td>
                        <td>
                          <mat-form-field appearance="fill">
                            <mat-label>Type</mat-label>
                            <select matNativeControl [formControl]="type" required>
                              <option *ngFor="let t of claimTypesList" [value]="t.id">{{t.name}}</option>
                            </select>
                            <mat-error *ngIf="type.hasError('required')">Please choose a type</mat-error>
                            <mat-hint>{{type.value?.sound}}</mat-hint>
                          </mat-form-field>
                        </td>
                        <td>
                          <button mat-mini-fab color="accent" type="submit">Add</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  
                </div>
              </div>
              
              
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      